node_modules
*.js
*.js.map
!migrate-mongo-config.js
!migrations/*

mongo-dev-net/data*
regtest/mongo/db
regtets/mongo/configdb
_leveldb
_leveldb_old
_leveldb_testnet
_mongo
_mongo_old
.env

.DS_Store

filters.yml
